/*CLASSES DE FORMATAÇÃO DE ELEMENTOS*/
.logo{
	width:5em;
	height: 5em;
}
.slogan{
	font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
	font-size:2em;
	color:#FFFFFF;
}
.calculadora{
	display:flex;
	justify-content: center;
	margin-top:3em;
}
.calc{
	background: rgba( 0, 0, 0, 0.5 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 12px );
	-webkit-backdrop-filter: blur( 12px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	padding:0.5em;
	z-index:+1;
}
.botoes{
	font-size:1em;
	width:3em;
	height: 3em;
	margin:0.3em;
	font-weight: bold;
	background: rgba( 255, 255, 255, 0.9 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 13px );
	-webkit-backdrop-filter: blur( 13px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.botoes:hover, .botoesscientific:hover {
	box-shadow:0px 0px 10px 5px rgba(255, 255, 255, 0.288);
	color:rgb(14, 14, 31);
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}
.botoes:active, .botoesscientific:active {
	border: 2px solid black;
	transition-timing-function: ease-in-out;
	transition-duration: 0.1s;
}
.clearbutton{
	font-size:1em;
	width:6.9em;
	height: 3em;
	margin:0.3em;
	font-weight: bold;
	background: rgba( 255, 255, 255, 0.9 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 13px );
	-webkit-backdrop-filter: blur( 13px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.clearbutton:hover{
	box-shadow:0px 0px 10px 5px rgba(255, 255, 255, 0.288);
	color:rgb(14, 14, 31);
	transition-timing-function: ease-in-out;
	transition-duration: 0.2s;
}
/*-------CALCULADORA CIENTIFICA---------*/
.scientific{
	background: rgba( 0, 0, 0, 0.5 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 12px );
	-webkit-backdrop-filter: blur( 12px );
	border-radius: 10px;
	display:flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-start;
	padding:0.5em;
	width:6em;
	height:22em;
	transform:translateX(-80%);
}
	/*configuracao da animacao "animate-box"*/
	@keyframes animate-box {
		from {transform:translateX(-80%)}
		to {transform:translateX(0%)}
	}
.scientific:hover{
	animation-name:animate-box;
	animation-duration:1s;
	animation-direction:normal;
	animation-fill-mode:forwards;
}
.botoesscientific {
	font-size:1em;
	text-align:center;
	width:3em;
	height: 3em;
	margin:0.2em;
	font-weight: bold;
	background: rgba( 255, 255, 255, 0.9 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 13px );
	-webkit-backdrop-filter: blur( 13px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.break{
	flex-basis:100%;
}
.pushbutton{
	background:rgba(255, 255, 255, 0);
	color:#FFFFFF;
	border:none;
}
.resultado{
	margin:0.3em;
	width:14.5em;
	border-radius:10px;
}
/*CLASSES DE FORMATAÇÃO DE SEÇÕES*/
.headerformat{
	width: 80%;
	margin:auto;
	background: rgba( 0, 0, 0, 0.75 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4.5px );
	-webkit-backdrop-filter: blur( 4.5px );
	border-radius: 20px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	display:flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
}
.bodyformat{
	background:url("../img/mainbackground.png");
	background-attachment: fixed;
	background-position:center;
	background-size:cover;
}
.footerformat{
	border:2px solid red ;
	width: 100%;
	margin:auto;
	background: rgba( 0, 0, 0, 0.75 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 4.5px );
	-webkit-backdrop-filter: blur( 4.5px );
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	z-index:-1;
	position:fixed;
	bottom:0;
}
.footerformat p{
	color: #FFFFFF;
	text-align: center;
}
/*------DEVICE VIEW--------*/
@media screen and (max-width: 800px) {
	.headerformat{
		width:100%;
		border-radius:0px;
	} 
}